<%- include ('include/_header') -%>
    <!--Close header-->

    <%- include ('include/_nav') -%>
        <!--Close navbar-->

        <div class="bg home"></div>
        <div class="bg-text container">
            <div class="authenticationArea">
                <div class="container text-form text-light">
                    <h1 class="xl-padding-top margin-bottom"> Security Access</h1>
                    <!--Message area-->
                    <% if(messages.length> 0) {%>
                        <div class="alert alert-danger">
                            <%=messages%>
                        </div>
                        <%}%>
                            <!---->
                            <form method="POST" autocomplete="off">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Username" name="username"
                                            id="username" required autofocus>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col padding-top margin-bottom">
                                        <input type="password" class="form-control" placeholder="Password"
                                            name="password" id="password" required>
                                    </div>
                                </div>
                                <div class="padding-bottom">
                                    <input type="submit" class="btn btn-dark" value="Login">
                                    <a href="/">
                                        <input type="button" class="btn btn-warning" value="Cancel">
                                    </a>
                                </div>
                            </form>
                </div>


            </div>
        </div>

        <!--Include footer-->
        <%- include ('include/_footer') -%>
            <!--Close footer-->