<!--Include header-->
<%- include ('include/_header') -%>
    <!--Close header-->


    <!--nav bar-->
    <%- include ('include/_nav') -%>
        <!--Close navbar-->

        <div class="bg home"></div>
        <div class="bg-text container animation">
            <h1>Welcome to my world</h1>
            <a href="/about" class="animationToStart">click here to get started...</a>
        </div>


        <!--Include footer-->
        <%- include ('include/_footer') -%>
            <!--Close footer-->