<!--Include header-->
<%- include ('include/_header') -%>
    <!--Close header-->

    <%- include ('include/_nav') -%>
        <!--Close navbar-->

        <div class="bg home"></div>
        <div class="bg-text container animation">
            <h1>My work</h1>
        </div>

        <!--Include animation-->
        <%- include ('include/_animation') -%>
            <!--Include animation-->

            <div class="all-wide">
                <div class="container text-light all-wide">
                    <div class="container text-center padding-top text-dark">
                        <h2 class="margin-bottom xl-padding-top">My projects</h2>

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <h4 id="GameOfChance">Game Of Chance</h4>
                                <div class="card shadow-sm">
                                    <img src="img/dice.jpg" alt="Dice image">

                                    <div class="card-body">
                                        <p class="card-text">This project is based in a game pf probability where you
                                            have to throw two dice and expect to win. Made with Java
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-light"><a
                                                        href="https://github.com/WilsonRodriguezz/GameOfChance"
                                                        class="text-dark" target="_blank">View more</a></button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h4 id="65Square">65Square</h4>
                                <div class="card shadow-sm">
                                    <img src="img/65Square.jpg" alt="65 square image">

                                    <div class="card-body ">
                                        <p class="card-text">This project is based on the development of a complete
                                            social media with innovative features inside, created for kids. My role into
                                            the project is as a C# tester.
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-light"><a
                                                        href="https://helpusdefend.com/?page_id=840" class="text-dark"
                                                        target="_blank">View more</a></button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h4 id="Portfolio">Personal Portfolio</h4>
                                <div class="card shadow-sm">
                                    <img src="img/cover.jpg" class="img-fluid" alt="Portfolio site">

                                    <div class="card-body">
                                        <p class="card-text">My personal portfolio where I include information about me,
                                            my services, my prjects, and how to get in touch with me. Made with HTML,
                                            CSS, JavaScript.
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-light"><a
                                                        href="https://github.com/WilsonRodriguezz/portfolio"
                                                        target="_blank" class="text-dark">View more</a></button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--Include footer-->
                    <%- include ('include/_footer') -%>
                        <!--Close footer-->